<div  *ngIf = "images && images.length > 0" class="carousel-container">
    <img *ngFor = "let image of images; let i = index" 
    [src]="image.src" [alt]="image.alt"
    [ngClass] = "{'image-active': selectedIndex === i}"
    >
    <button *ngIf = "controls" class = "btn-carousel btn-prev">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev" (click) = "goPrev()">
        </i>
    </button>

    <button *ngIf = "controls" class = "btn-carousel btn-next">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next" (click) = "goNext()">
        </i>
    </button>
</div>
