<h1 class = "ti">{{title}}</h1>
<div class="slide-container">
    <div>
    <img [src]="images[0].src" [alt]="images[0].alt" class="slide1">
        <h2>{{dishes[0]}}</h2>
        <b>$5.99</b>
        <br>
        <a mat-button>Add to Cart</a>
    </div>
    <div>
        <img [src]="images[1].src" [alt]="images[1].alt" class="slide1">
        <h2>{{dishes[1]}}</h2>
        <b>$5.99</b>
        <br>
        <a mat-button>Add to Cart</a>
    </div>
    <div>
        <img [src]="images[2].src" [alt]="images[2].alt" class="slide1">
        <h2>{{dishes[2]}}</h2>
        <b>$5.99</b>
        <br>
        <a mat-button>Add to Cart</a>
    </div>
    <div>
        <img [src]="images[3].src" [alt]="images[3].alt" class="slide1">
        <h2>{{dishes[3]}}</h2>
        <b>$4.99</b>
        <br>
        <a mat-button>Add to Cart</a>
    </div>
</div>



<h1 class = "ti">{{title}}</h1>
<div class="slide-container2">
    <div>
    <img [src]="images[0].src" [alt]="images[0].alt" class="slide1">
        <h2>{{dishes[0]}}</h2>
        <b>$5.99</b>
        <br>
        <a mat-button>Add to Cart</a>
    </div>
    <div>
        <img [src]="images[1].src" [alt]="images[1].alt" class="slide1">
        <h2>{{dishes[1]}}</h2>
        <b>$5.99</b>
        <br>
        <a mat-button>Add to Cart</a>
    </div>
    <div>
        <img [src]="images[2].src" [alt]="images[2].alt" class="slide1">
        <h2>{{dishes[2]}}</h2>
        <b>$5.99</b>
        <br>
        <a mat-button>Add to Cart</a>
    </div>
    <div>
        <img [src]="images[3].src" [alt]="images[3].alt" class="slide1">
        <h2>{{dishes[3]}}</h2>
        <b>$4.99</b>
        <br>
        <a mat-button>Add to Cart</a>
    </div>
</div>