h1{
    padding-top: 1%;
    justify-content: center;
    text-align: center;
    color: rgb(240, 164, 34);
    font-style: bold;
    font-family: fantasy;
    font-size: 35px;
}
.banner{
    height: 80%;
    width: 100%;
}

.intro{
    text-align: center;
    justify-content: center;
    
}
.intro a{
    font-family:fantasy;
    font-size: large;
    color: red;
    font-style: bold;
}